:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  --dark-cyan: hsl(185, 75%, 39%);
  --desaturated-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-color: var(--dark-cyan);
  font-size: 16px;
  line-height: 1.5;
  background-image: url("./assets/images/bg-pattern-top.svg"),
    url("./assets/images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px 1200px, 1200px 1200px;
  background-position: -130% 150%, 160% -110%;
}

p {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--dark-gray);
  flex: 1;
  display: flex;
  justify-content: space-around;
}

li {
  flex: 1;
  align-items: center;
  padding: 15px 20px;
}

.name {
  font-size: 18px;
  font-weight: 700;
  color: var(--desaturated-blue);
  text-align: center;
}
.age {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-gray);
  text-align: center;
}
.container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 0 15px;
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  color: var(--desaturated-blue);
}

.header-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-top: -50px;
  left: 148px;
  border: 5px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light-txt {
  color: var(--grayish-blue);
  font-size: 13px;
  text-align: center;
}

.stats {
  font-weight: 700;
  font-size: 18px;
  color: var(--desaturated-blue);
}

.content {
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  color: var(--dark-gray);
  letter-spacing: 1px;
}
